@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

h2 {
  text-align: center;
  color: #000000;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#players {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  gap: 30px;
}

#players label {
  color: #000000;
  margin-right: 10px;
}

#players input[type="text"] {
  padding: 5px;
  border: none;
  border-radius: 5px;
}

.player {
  color: #000000;
}

#board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  width: 240px;
}

.cell {
  border: 2px solid #ffffff;
  height: 80px;
  font-size: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #000000;
  color: #ffffff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
  transition: background-color 0.3s ease-in-out;
}

.cell:hover {
  background-color: #262626;
}

button {
  display: block;
  font-weight: 700;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #4d4d4d;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #595959;
}

.buttons {
  display: flex;
  gap: 20px;
}
